* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #E0DFD5;
    padding: 0px 20px;
}

.logo {
    cursor: pointer;
    padding: 30px 10px;
}

.logo h3 {
    font-family: 'Cormorant Garamond', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.navbar-links {
    align-self: flex-end;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
}

.navbar-links a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    color: #575757;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 20px;
}

.navbar-links a:hover {
    color: white;
}

.btn {
    background-color: none;
    border: none;
    color: #575757;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.section-1 {
    display: flex;
    margin: 40px;
    font-family: 'Cormorant Garamond', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.motto {
    font-size: 50px;
}

.image-col {
    flex-basis: 80%;
    margin-left: 20px;
}

.img-1 {
    max-width: 100%;
    position: relative;
    right: 0px;
}

.about-col {
    /* flex-basis: 80%; */
}

.motto {
    margin-bottom: 10px;
}

.btn-readmore {
    background: rgba(224, 223, 213, 0.6);
    border-radius: 60px;
    border: 0;
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
}