@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #E0DFD5;
    padding: 0px 20px;
}

.logo {
    cursor: pointer;
    padding: 30px 10px;
}

.logo h3 {
    font-family: 'Cormorant Garamond', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.navbar-links {
    align-self: flex-end;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
}

.navbar-links a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    color: #575757;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 20px;
}

.navbar-links a:hover {
    color: white;
}

.btn {
    background-color: none;
    border: none;
    color: #575757;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.section-1 {
    display: flex;
    margin: 100px 30px 0px 30px;
}

.motto {
    font-size: 40px;
    color: black;
    padding: 10px 20px;
    font-family: 'Berkshire Swash';
    font-size: 50px;
    margin-top: 115px;
}
.about{
    padding:  0px 20px;
}

.image-col {
    flex-basis: 80%;
    margin-left: 20px;
}

.img-1 {
    max-width: 100%;
    position: static;
    right: 0px;
}

.about-col {
    /* flex-basis: 80%; */
}

.motto {
    margin-bottom: 10px;
}

.btn-readmore {
    cursor: pointer;
    background: rgba(224, 223, 213, 0.6);
    border-radius: 60px;
    border: 0;
    padding: 10px 30px 10px 30px;
    margin-left: 200px;
    margin-top: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    overflow: hidden;
    background-color: #E0DFD5;
    padding: 20px 450px 20px 450px;
    margin-top: 120px;
}

.container h4{
    font-family: 'Cormorant Garamond','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.gambaride {
    float:left; 
    margin: 30px 30px 30px 3px; 
    max-width: 50%;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    overflow: hidden;
    background-color: #E0DFD5;
    padding: 20px 500px 20px 500px;
    margin-top: 380px;
    
}

.container-2 h4{
    font-family: 'Cormorant Garamond','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.container-foot {
    display: flex;
    justify-content: space-between;    
    overflow: hidden;
    background-color: #E0DFD5;
    padding: 20px 30px;
    margin-top: 380px;
}

.container-foot h5 {
    font-size: 30px;
}

.icon{
    max-width: 40%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float: right;
}
